<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Student Task Manager</title>

    <link rel="stylesheet" href="style.css">
</head>

<body>

    <div id="app">
        <h1>{{ studentName }}</h1>
        <input
            type="text"
            v-model="studentName"
            placeholder="zeinab">

        <button @click="changeName">
            Change Name
        </button>

        <h2>My Courses</h2>
<p>  📚 Total Courses: {{ totalCourses }}
</p>
<p>
    ✅ Completed: {{ completedCourses }}
</p>
        <ul class="course-list">

           <li
    v-for="course in courses"
    :key="course.name"
    class="course-card"
    :class="{ completed: course.completed }">

                {{ course.name }}

                <span v-if="course.completed">
                    ✅ Completed
                </span>

                <span v-else>
                    📖 In Progress
            </span>

                <button @click="toggleCourse(course)">
                    Change Status
                </button>

            </li>

        </ul>

    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="app.js"></script>

</body>
</html>